*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --brand-color: #2196f3;
  --white-color: #ffffff;
  --dark-grey-color: #2f303a;
  --black-color: #212121;
  --light-grey-color: #757575;
  --purple-color: #8a407e;
  --off-white-color: #f5f4fa;
  --border-color: #ECECEC;
  --fig-border-color: #EEEEEE;
}
p {
  margin: 0px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: var(--black-color);
  margin: 0px;
  padding: 0px;
}
.container-1600 {
  width: 1600px;
}
.container-1200 {
  width: 1200px;
  margin: 94px 215px;
  height: 1360px;
}

.header-top-bottom {
  padding-top: 32px;
  padding-bottom: 32px;
}
.head-nav {
  width: 261px;
  margin-left: 0px;
  padding-left: 0px;
  margin-right: 371px;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}
.head-nav2 {
  width: 261px;
  margin-left: 0px;
  padding-left: 0px;
  margin-right: 364px;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}
.small-space {
  margin-right: 364px;
}
.contact-div {
  margin-right: 227px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}


.inline {
  display: flex;
  flex-direction: row;
}
.h1 {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin: 0;
  width: 696px;
  height: 120px;
  text-align: center;
  margin: 200px 452px 30px 452px;
}
.white {
  color: var(--white-color);
  font-family: "Raleway", sans-serif;
}
.footer {
  background-color: var(--dark-grey-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding: 60px 215px;
  height: 252px;
}

address {
  color: var(--white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
.fonthead {
  color: var(--black-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.fontweb {
  font-family: "Raleway", sans-serif;
  color: var(--black-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.fontcolor {
  color: var(--brand-color);
  font-family: "Raleway", sans-serif;
}
.fontcolor:visited {
  color: var(--brand-color);
}

a:hover {
  color: var(--brand-color);
  cursor: pointer;
}
a:focus {
  color: var(--brand-color);
  cursor: pointer;
}
a.fonthead:focus {
  color: var(--brand-color);
  cursor: pointer;
}
header {
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: row;
  height: 80px;
}
.link-web {
  padding-left: 215px;
  padding-right: 93px;
  margin-top: 24px;
  margin-bottom: 25px;
}
.contact {
  color: var(--light-grey-color);
}
nav {
  font-size: 14px;
  line-height: 1.14;
}

.button:hover {
  background-color: var(--brand-color);
  color: var(--white-color);
  cursor: pointer;
}
.button:focus {
  background-color: var(--brand-color);
  cursor: pointer;
}
.button {
  background: var(--off-white-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  margin: 0px 8px 0px 0px;
  padding: 6px 22px;
}
.main-button {
  background: var(--brand-color);
  color: var(--white-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 41px 10px 42px;
  height: 70px;
  width: 243px;
  margin: 0px 700px 200px 700px;
  border-radius: 4px;
  border: 0px;
}
.main-button:hover {
  text-decoration: underline;
  background-color: var(--purple-color);
}
.font-weight {
  font-weight: 700;
}
.box-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-left: 24px;

}
.box-category {
  color: var(--light-grey-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-left: 24px;
}
.img-title {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 10px;
  
}
.img-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  
}
.main-section {
  background-color: var(--dark-grey-color);
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
}
.header-sec {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  margin: 0;
  display: flex;
  justify-content: center;
}
.header-third {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin:94px 0px 10px 0px
}
.list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--light-grey-color);
  letter-spacing: 0.03em;
  display: flex;
  height: 75px;
  width: 270px;
}
.no-gap {
  display: block;
}
.lorem {
  padding: 0px 215px;
  margin: 0px;
}
.display-between {
  display: flex;
  justify-content: space-between;
}
.img-random {
  width: 1600px;
  display: flex;
  justify-content: center;
  padding-bottom: 94px;
}
.left {
  margin-left: 30px;
}
.section-team {
  background-color: var(--off-white-color);

  height: 648px;
}
.team {
  background-color: var(--white-color);
  height: 368px;
  width: 270px;
  margin: 0px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 0px 15px;
}
.team:first-child {
  margin-left: 0;
}
.pad-top-94 {
  padding-top: 94px;
  margin: 0;
}
.pad-bottom-94 {
  padding-bottom: 94;
}
.pad-left {
  padding-left: 30px;
}

.pad-bottom-50 {
  padding-bottom: 50px;
}
.center {
  margin-left: 215px;
}

address p {
  margin-bottom: 9px;
}
footer address {
  margin-top: 20px;
}

.section-team figcaption {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0px 0px;
  padding: 10px 0px;
  line-height: normal;
}
.team figcaption{height: 108px;}
.div-button{ margin: 0px 303px 50px 295px;
  height: 54px;
  width: 572px;
}
.portfolio{ margin: 0px 0px 30px 0px;
}
.no-margin{margin:0px 30px 0px 0px}
.no-padding{padding: 0px;}
.underline{border-bottom: 1px solid var(--border-color);}

.li-space{margin: 0px 8px 0px 0px;}
.fig-border{border-bottom: 1px solid var(--fig-border-color);
  border-left: 1px solid var(--fig-border-color);
  border-right: 1px solid var(--fig-border-color);}
  .margin-0{margin: 0px;}